@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Domine", serif;
    font-size: 1.2rem;
    background-color:  rgb(224, 224, 224);
}

/* Main heading */

a {
    text-decoration: none;
    color: inherit;
}

#main-heading {
    font-size: 3rem;
    text-align: center;
    margin-top: 8rem;
}

/* Quiz interface container */

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 3rem 2rem;
}

#quiz-area {
    width: 25rem;
}